.question {
    max-width: 800px;
    color: var(--father-hero, #0b3b3c);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading 4 (28px) */
    font-family: TT Norms;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.84px;
}

.options_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.option {
    padding: 20px;
    width: max-content;
    color: #000000;
    border: 1px solid #afafaf;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.option:hover {
    background-color: #afafaf;
}

.option_selected {
    background-color: #afafaf;
}

.buttons_container {
    display: flex;
    gap: 12px;
}

.btn {
    padding: 12px 20px;
    background-color: #e74c3c;
    color: #ffffff;
    border: 1px solid #c0392b;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c0392b;
}
