:root {
    /* SPACING */
    --spacing-10: 0.625rem;
    --spacing-20: 1.25rem;
    --spacing-22: 1.375rem;
    --spacing-25: 1.563rem;
    --spacing-30: 1.875rem;
    --spacing-36: 2.25rem;
    --spacing-68: 4.25rem;
    --spacing-70: 4.375rem;
    --spacing-72: 4.5rem;
    --spacing-90: 5.625rem;
    --spacing-138: 8.625rem;
    --spacing-180: 11.25rem;

    /* COLORS */
    --son: #ff8d7d;
    --son-accent: #7e0707;
    --father-hero: #0b3b3c;
    --grandfather: #bdcdc5;
    --grandfather-30: #6d8a83;
    --grandfather-60: #e8efe9;
    --grandfather-80: #f3f7f4;
    --white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'TT Norms', sans-serif;
    display: grid;
    justify-content: center;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
