.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-70);
    padding: var(--spacing-70) 0 var(--spacing-90);
}

.heading {
    color: var(--father-hero);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading 3 (2.5rem) */
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -1.2px;
}

.problems_section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-180);
}
