.container {
    width: 865px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_reversed {
    flex-direction: row-reverse;
}

.number_box {
    position: absolute;
    left: 280px;
    z-index: -1;
    width: 480px;
    height: 445px;
    text-align: left;
    color: var(--grandfather-80, #f3f7f4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: TT Norms;
    font-size: 450px;
    font-style: normal;
    font-weight: 400;
    line-height: 450px; /* 100% */
    letter-spacing: -13.5px;
}

.number_box_reversed {
    width: 561px;
    right: 280px;
    left: initial;
    text-align: right;
}

.description_box {
    width: 372px;
}

.problem_category {
    color: var(--grandfather-30, #6d8a83);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading 7 (10px) */
    font-family: TT Norms;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 150% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.heading {
    margin-top: 10px;
    color: var(--father-hero, #0b3b3c);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading 4 (28px) */
    font-family: TT Norms;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.84px;
}

.subtext {
    margin-top: 22px;
    color: var(--father-hero, #0b3b3c);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body 3 (18px) */
    font-family: TT Norms;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
